.imgContainer {
    display: inline-block;
    align-content: center;
}

.innerImage {
    background-color: #e5e3ce;
    margin: 7px;
    padding: 2px;
    border-radius: 3px;
    align-items: center;
    box-shadow: -5px 5px 10px #233a48;  

}

.innerImage:hover {
    box-shadow: -9px 9px 10px #233a48;  
    transform: translateX(4px);
}